.h-bar {
  background: lime;
  width: 100%;
  height: 50px; }

.flare-tab-down {
  background: lime;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  height: 30px;
  left: 700px;
  width: 100px;
  overflow: visible !important;
  position: absolute; }
  .flare-tab-down:before, .flare-tab-down:after {
    content: "\A";
    border-style: solid;
    position: absolute; }
  .flare-tab-down:before {
    left: -25px;
    border-width: 0px 28px 27px 0px;
    border-color: transparent lime transparent transparent; }
  .flare-tab-down:after {
    right: -25px;
    border-color: transparent transparent transparent lime;
    border-width: 0px 0 27px 28px; }
