@import "vars";
@import "mixins";

.h-bar { 
  background: $base-color;
  width: 100%; 
  height: 50px;
}

.flare-tab-down {
  background: $base-color;
  @include border-radius(0px 0px 10px 10px);
  height: 30px;
  left: 700px;
  width: 100px;
  overflow: visible !important;
  position: absolute;

  &:before,
  &:after {
    content:"\A";
    border-style: solid;
    position: absolute;

  }

  &:before {
    left: -25px;
    border-width: 0px 28px 27px 0px;
    border-color: transparent $base-color transparent transparent;
  }

  &:after {
    right: -25px;
    border-color: transparent transparent transparent $base-color;
    border-width: 0px 0 27px 28px;
  }
}